header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    height: 100px;
    z-index: 1000;
}

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

#menu li::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f8bd26;
    transition: all .3s ease;
}

#menu li:hover::after{
    width: 100%;
}

li a{
    text-decoration: none;
    color: #000;
    font-size: .95rem;
    font-family: 'Basic', sans-serif;
}

#nav .CTA{
    background: #f8bd26;
    padding: .4rem 3rem;
}

#nav .CTA:hover{
    background: #facf61;
    font-weight: normal;
    font-size: 1rem;
}